<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/estilo/estilo.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1>Formulário</h1>

<form method="post" action="/pessoas/criar" class="socorro">
<div>
    <label for="nome">Nome:</label> 
    <input type="text" name="nome" placeholder="Digite seu nome" required /> 
</div>
<div>
    <label for="soobrenome">Sobrenome:</label> 
    <input type="text" name="sobrenome" placeholder="Digite seu sobrenome" required /> 
</div>
<div>
    <label for="idade">Idade:</label> 
    <input type="number"name="idade" placeholder="Informe sua idade" required /> 
</div>
<div >
    <input class="botao" type="submit" value="Enviar" /> 
</div>
</form>
<a href="/pessoas"> 
    Cancelar    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
</a>

</body>
</html>

