<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/estilo/estilo.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1>Formulario</h1>

<form method="post" action="/pessoas/criar" class="socorro">
<div>
    <label for="nome">Nome</label> 
    <input type="text" name="nome" placeholder="Digite seu nome" required /> 
</div>
    <label for="soobrenome">Sobrenome</label> 
    <input type="text" name="sobrenome" placeholder="Digite seu sobrenome" required /> 
<div>
    <label for="idade">Idade</label> 
    <input type="number"name="idade" placeholder="Informe sua idade" required /> 
</div>
<div class="botao">
    <input type="submit" value="Enviar" /> 
</div>
</form>
<a href="/pessoas"> Cancelar </a>

</body>
</html>

